@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: oklch(21.6% 0.006 56.043);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

canvas {
  display: block;
}

svg {
  display: block;
}

.icon-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  aspect-ratio: 1;
  border-radius: 8px;

  &:disabled {
    color: rgba(85, 85, 85, 0.5);
    cursor: auto;
  }

  &:hover:not(:disabled) {
    background: rgba(255, 255, 255, 0.2);
  }
}

.link {
  text-decoration: none;
  color: #eee;
}

.link:hover {
  color: white;
}

.rotate {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
